# 平台服務設定
DISCORD_TOKEN=
LINE_CHANNEL_ACCESS_TOKEN=
FEISHU_WEBHOOK_URL=

# 資料來源預設值 : json | pgsql 則一
SUBSCRIPTIONS_SOURCE=pgsql

# 訂閱設定：指向外部 JSON 檔案（推薦，方便維護）
# 格式請參考 subscriptions.json
SUBSCRIPTIONS_FILE=subscriptions.json

# PostgreSQL 資料庫連線設定（ SUBSCRIPTIONS_SOURCE=pgsql ）
DATABASE_URL=

# 其他設定
PORT=10000